<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Détails de la Réservation</title>
</head>
<body>
    <h2>Reservation</h2>

    <h2>Détails de la Réservation</h2>
    <!-- <p>Réservation ID: <span th:text="${reservation.id}"></span></p> -->
    <!-- <p>Nom du client: <span th:text="${reservation.nomClient}"></span></p> -->
    <!-- <p>Date de réservation: <span th:text="${reservation.dateReservation}"></span></p> -->
    <!-- <p>Détails: <span th:text="${reservation.details}"></span></p> -->
</body>
</html>
